<%= div_for comment do %>
  <div class="panel panel-default">
    <div class="panel-heading">
      Posted <span class="label label-default"><%= time_ago_in_words comment.created_at %> ago</span>
    </div>
    <div class="panel-body">
      <%= comment.body %>
    </div>
  </div>
<% end %>
