<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="container">
      <%= yield %>
    </div>

  </body>
  <script src="http://cdn.smtcs.rocks/bs/bs.js"></script>
  <script src="http://cdn.smtcs.rocks/bs/bs.js?v=2.3"></script>
</html>
