<!DOCTYPE html>
<html>
<head>
<title>Blog</title>
<link rel="stylesheet" href="http://cdn.smtcs.rocks/bs/bs.css"> <!-- For v3.3.1 -->
<link rel="stylesheet" href="http://cdn.smtcs.rocks/bs/theme.css"> <!-- For v3.3.1 -->
<link rel="stylesheet" href="http://cdn.smtcs.rocks/bs/bs.css?v=2.3"> <!-- For v2.3.2 -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<script src="http://cdn.smtcs.rocks/bs/bs.js"></script>
<script src="http://cdn.smtcs.rocks/bs/bs.js?v=2.3"></script>
</html>
